.about-wrapper {
display: flex;
justify-content: center;
}

.about-box {
  display: flex;
  /* box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px; */
 justify-content: center;
 flex:1;
}

.detail-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.about-detail {
  text-align: justify;
  font-size: 1.3rem;
  margin: 0.5rem;
  color: #246975;
}



.avatar {
  padding: 0;
  margin: 2rem 2rem 1rem 2rem;
}

.avatar-img {
  border-radius: 10%;
  width: 100%;
  max-width: 500px;
}

.about-detail-img {
  width: 100%;
  max-width: 350px;
  margin: 1rem 2rem 0 2rem;
}

.img-link-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.link-item {
display: flex;
flex-direction: row;
align-self: center;
margin: 8px auto 10px auto;
}

.link-item a {
  text-decoration: none;
  background: linear-gradient(to right, #008037 0%, #ffd871 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Signika Negative",
    sans-serif;
  margin: 18px;
  padding: 0.5rem 1rem;
  font-weight: bolder;
  font-size: 1.5rem;
}
.link-item a:hover {
  background: linear-gradient(to left, #008037 0%, #ffd871 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 600px) {
  .about-box, .link-item {
    flex-direction: column;
  }

  .about-box {
    margin: 7rem 2rem 3rem 2rem;
  }
  .about-detail-img {
    width: 80%;
  }

.link-item {
  font-size: 1rem;
}
  }
