
.contact-wrapper {
  text-align: center;
}

.contact-box {
  color: #2F4858;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 3rem;
}

.info-container {
  margin-right: 2rem;
}

.message-container {
  margin-left: 2rem;
}

.contact-title {
  color: #2F4858;
  font-size: 1.4rem;
  font-weight: bold;
}

label {
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  margin-top: 8px;
}

button,
textarea,
input {
  border: none;
  border-radius: 4px;
}

/* input {
  height: 35px;
} */

button {
  padding: 3px 8px;
  background-color: #03A688;
  color: #fff;
  margin: 10px 0 0 10px;
}

button:hover {
  background: #04D98B;
}

.textarea-container {
  width: 450px;
  height: 196px;
}

textarea {
  border: 2px solid #008037;
  font-family: 'Courgette',
  cursive;
  color: #2F4858;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 8px;
  width: 100%;
  height: 100%;
  margin: 0;
}

.form-item {
  font-family: 'Courgette',
  cursive;
  font-weight: 600;
  border-radius: 10px;
  border: 2px solid #ffd871;
  color: #2F4858;
  padding: 7px 10px;
  margin-bottom: 8px;
  height: 38px;
  width: 222px;
  margin:0;
}

@media screen and (max-width: 600px) {

  .contact-wrapper {
    margin: 7rem auto 3rem auto;
  }

  .contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .textarea-container {
    width: 300px;
    height: 120px;
  }

  .textarea {
    font-size: 14px;
  }
}
