.footer-detail {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
  color: #dee5e2;
}
.footer-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

.footer-items a {
  margin: auto 10px;
  font-size: 1.5rem;
  color: #dee5e2;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:cover;
  width:100%;
  margin-bottom: 0px;
  /* background: linear-gradient(to right,
  #008037 0%,
  #ffd871 100%); */
  background: linear-gradient( to bottom, #ffd871 10%, #008037 90%);

}


@media screen and (max-width: 650px)  {
  .footer {
    position:fixed;
    left:0px;
    bottom:0px;
  }
}
