body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, "Neucha", "Short Stack", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgb(208, 229, 242);
  background: linear-gradient(
    163deg,
    rgba(208, 229, 242, 1) 29%,
    rgba(107, 159, 191, 1) 100%
  ); */
  background: #f0ebe3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.company-logo {
  width: 15%;
  margin: 5px 30px;
}

.navbar-container {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: baseline;
  align-content: stretch;
  margin: 0 30px;
}

.nb-item {
  list-style: none;
  margin-left: 12px;
  font-size: 1.5rem;
}

.project-items {
  margin: 25px 25px;
  padding: 35px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 8px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-image {
  width: 550px;
  height: 350px;
  /* object-fit: cover; */
  background-size: cover;
  border-radius: 5px;
}

.project-title,
.page-title,
.nb-item a {
  font-family: "Signika Negative", sans-serif;
  color: black;
  /* color: azure; */

  text-decoration: none;
}

.project-detail {
  font-family: "Signika Negative", sans-serif;
  font-size: 20px;
}

.page-title {
  font-weight: bold;
  font-size: 3rem;
  color: #13678a;
  display: flex;
  justify-content: center;
}

.page-detail {
  font-size: 2rem;
  color: #012030;
  /* color: azure; */
  margin: 30px;
  text-align: justify;
}

.page-container {
  margin: 40px 20px;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

.info-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  float: left;
}

.msg-container {
  overflow: hidden;
  padding: 10%;
  position: relative;
  width: 80%;
  float: right;
}
button {
  padding: 8px;
}

textarea {
  max-width: 400px;
  background-color: #b0bad3;
  color: #fff;
  letter-spacing: 1px;
}
